#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
}

.inputItems {
  font-size: 20px;
  padding: 0.5rem;
  border: 2px solid #303b59;
  border-radius: 3px;
}

.inputItems::placeholder {
  font-size: 16px;
}

.checkout {
  margin-left: 20px;
  border-radius: 50px;
  border: 2px solid #303b59;
  background-color: #303b59;
  color: white;
  transition: 0.2s ease-in-out;
}

.checkout:is(:hover) {
  border: 2px solid #303b59;
  background-color: white;
  color: #303b59;
}

.lines {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
}

.line {
  border: 2px solid #303b59;
  padding: 2rem;
  border-radius: 10px;
}
